.watch{
    width: 100vw;
    height: 100vh;
    

    .back{
        display: flex;
        align-items: center;
        position: absolute;
        color:rgb(255, 255, 255);
        cursor: pointer;
        left:10px;
        z-index: 2;
    }
    .video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}