.features{
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        top:80px;
        left:150px;
        font-size: 25px;
        color:white;
        font-weight: 500;
        display:flex;
        align-items: center;

        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color:white;
            margin-left: 20px;
            padding:5px;  
        }
    }

    img{
        height: 120%;
        width: 100%;
        object-fit: cover;
    }

    .information{
        width: 35%;
        position: absolute;
        bottom: 2px;
        left: 10px;
        color:white;
        img{
            width: 400px;
        }
        .description{
            margin: 20px 0px;
            font-size: 17px;
            
        }
        .buttons{
            display: flex;
            margin-top: 20px;
            button{
                padding:10px 20px;
                border-radius: 5px;
                border:none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500px;
                margin-right: 10px;
                cursor: pointer;

                &.play{
                    background-color: white;
                    color:var(--main-color);
                }
                &.info{
                    background-color: grey;
                    color:white;
                }
                span{
                    margin-left: 5px;
                }
            }
        }





        
    }

}